environment          = "production"
vercel_project_name  = "underlytics"
vercel_project_id    = "prj_wee0WfLgwiEAF4GnY5GKKshN6uZw"
vercel_org_id        = "team_G08wyPJNCT8LLVZ3g9BKMKnw"
frontend_domain      = "https://underlytics.vercel.app"
backend_api_base_url = "https://underlytics-gateway-20uvjvj4.uc.gateway.dev"
